
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:140px">Proje Adı:</th>
            <td>ASP.NET MVC Öğrenme Projesi</td>
        </tr>
        <tr style="margin-top:10px">
            <th>Proje Bilgisi:</th>
            <td>
                Proje Asp.Net Mvc ile müşteri ve ürün kaydı tutan,
                ürünleri kategorilere ayırıp ürün satışı yapan bir web sitesidir.
            </td>
        </tr>
        <tr>
            <th>Proje Detayları:</th>
        </tr>
        <tr>
            <th>Öğrendiklerim:</th>
            <td>
                Bu projede Mvc Genel yapısını, Mvc projesine dışardan template yüklemesini,
                Veri tabanından veri listeleme, ekleme, güncelleme, silme ve arama işlemlerini,
                DropDownList kullanımını, sayfalamayı (paging) yapısını, Popup kullanımını öğrendim.
            </td>
        </tr>
        <tr>
            <th>Proje Kaynağı:</th>
            <td><a href="https://youtube.com/playlist?list=PLKnjBHu2xXNNRPqfdZC6hNmJKOqIIpqNj">50 Derste Mvc</a> - <b>Murat Yücedağ</b></td>
        </tr>
        <tr>
            <th>Proje Yapımcısı:</th>
            <th>İlhan Kertmen</th>
        </tr>
    </thead>
</table>
